[defaults]
inventory = @@INVENTORY@@
host_key_checking = True
retry_files_enabled = False
local_tmp = @@LOCAL_TMP@@
remote_tmp = ~/.ansible/tmp
fact_caching = jsonfile
fact_caching_connection = @@FACT_CACHE@@
fact_caching_timeout = 0
collections_path = @@HOME@@/collections
roles_path = @@HOME@@/roles
log_path = @@LOG_PATH@@
nocows = True
deprecation_warnings = True
interpreter_python = auto_silent
forks = 5
timeout = 10

[persistent_connection]
control_path_dir = @@CONTROL_PATH@@

[ssh_connection]
ssh_args = -F "@@SSH_CONFIG@@"
pipelining = False
retries = 1
control_path = @@CONTROL_PATH@@/%%h-%%p-%%r
